* {
    font-family: Verdana, Geneva, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #706F6F;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a {
    color: #3AAA35;
}

a:visited {
    color: #706F6F;
}

h1, h2, h3 {
    font-weight: bold;
    color: #231F20;
}

h1 {
    font-size: 23px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 17px;
}

pre {
    font-family: Consolas, monospace;
}

p {
    text-align: justify;
}

.container {
    margin-top: 20px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.flexi {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
}

.flexi > * {
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 1;
    flex-basis: 0;
}

div.card {
    background-color: white;
    box-shadow: 3px 3px 5px #706F6F;
    display: flex;
    flex-direction: column;
}

div.card > .card-header {
    width: 100%;
}

div.card > .card-img {
    display: block;
}

div.card > .card-body {
    border: 1px solid #E6E7E9;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}

div.card > .card-footer {
    width: 100%;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    text-align: left;
    padding: 5px;
    color: #231F20;
}

.table th {
    font-weight: bold;
}

.table > thead {
    background-color: #d9ead3;
    border-top: 1px solid #3AAA35;
    border-bottom: 1px solid #3AAA35;
}

.table > tbody {
    border-bottom: 1px solid #706F6F;
}

.table > tbody > tr:nth-child(odd) {
    background-color: white;
}

.table > tbody > tr:nth-child(even) {
    background-color: #E6E7E9;
}

.table.table-hover > tbody > tr:hover {
    background-color: #B6B7B9;
}

.float-left {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.float-right {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}